* {
  border: 0;
  padding: 0;
  margin: 0;
}
/*
h1 {
  text-align: center;
  font-size: 575%;
  color: #4A4444;
  text-transform: uppercase;
  letter-spacing: 1%;
  margin: 3% 0 10% 0;
}
h2 {
  text-align: center;
  font-size: 275%;
  color: #E5E5E5;
  text-transform: uppercase;
  letter-spacing: 1%;
}*/

/*--start parralax--*/
.parallax {
  background:url('../img/matrix.gif') repeat fixed 100%;
}
.parallax-inner {
  padding-top: 20%;
  padding-bottom: 20%;
}
.parallax-two {
  background:url('../img/backField.jpg') repeat fixed 100%;
  background-position: cover;
}
.parallax-inner-two {
  padding-top: 10%;
  padding-bottom: 10%;
}
/*--end parralax--*/
.navbar {
    background-color: green;
    border: 1px solid #fff;
    margin-bottom: 0;
    padding-bottom: 0;
  }
  .navbar-light .navbar-brand {
    color: #fff;
    font-weight: 900;
    font-style: italic; 
    margin-bottom: 5px;
  }
  .navbar-light .navbar-brand:hover {
    color: #fff;
    font-weight: 900;
    font-style: italic;
  }
  .navbar-light .navbar-nav .nav-link {
    color: #fff;
  }
  .navbar-light .navbar-nav .nav-link:hover {
      color: #fff;
  }
  .navbar-brand img {
    height: 80px;
    width:200px;
    margin: 0 0 0 30px;
    padding: 0;  
    border-radius: 20px;
    font-weight: 900
  }
  .carousel .item {
    /*height: 100%;*/
  }
  
  .carousel-inner{
    width:100%;
    max-height: 300px; !important;
  }
  .carousel-caption {
    top: 10%;
    transform: translateY(-10%);
    text-transform: uppercase;
    color: #D5D5D5;
    font-weight: 900;
    font-family: serif;
    font-style: normal;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    font-size: 2rem;
    
    background: top/1%, linear-gradient(
                     rgba(20,20,20, .5),
                     rgba(20,20,20, .5));                 
    border-radius: 100px;                
    bottom: initial;
    
                     /*
    border-top-left-radius: 75px;
    border-top-right-radius: 75px;
   
    /*width: 100px;
    height: 100px;
    border-radius:100px;
    margin-bottom:20px;
    padding-bottom:100px;*/
}
@media (max-width: 767px) { 
  .carousel-caption{
    /*
    display:none;
    */
    font-size: 1rem;
  }
 }
 .flip-container {
  margin: 50px auto 160px auto;
  width: 650px;
  height: 200px;
  transition: all 5s;
  perspective: 900px;
  font-size: 1.6rem;
}
.front, .back {
  margin-left: 100px;
  width: 600px;
  height: 600px;
  border-radius:600px;
  padding: 100px 50px 50px 50px;
  position: absolute;
  top: 0;
  /*width: 100%;
  min-height: 100%;*/
  text-align: center;
  backface-visibility: hidden;
  transform-style: preserve3d;
  transition: all 5s;
}
.front {
  background: green;
  color: #fff;
}

.back {
  color: #fff;
  background: #337ab7;
  transform: rotateX(-180deg);
  
}
.flipped .back {
  transform: rotateX(0deg);
}

.flipped .front {
  transform: rotateX(180deg);
}
#email p {
  font-size: 145%;
}
.container {
  margin: 4% auto;
}
.container p {
  font-size: 1.6em;
}
.container a {
  text-decoration: none;
}
.container a:hover {
  color: #FFF;
  background-color: #50c878;
  text-decoration: none;
}
.text-center  h2 {
  color: black;
  margin: 20px 0 40px 0;
}
}
#icon {
  max-width: 200px;
  margin: 1% auto;
}
h2 {
  font-size: 1.9em;
}
footer {
  width: 100%;
  background-color: green;
  padding: 3%;
  color: #FFF;
}
li {
  display: inline-block;
}

li a:hover {
  color: #FF0000;
  text-decoration: none;
}
.bigIcon {
  font-size: 9em;
  color:  #000080;
}
.fa-envelope-o {
  color: #fff;
}

.fa-envelope-o:hover {
  text-decoration: none;
  color: #FF0000;
}

